*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
html, body{
    height:100%;
}
.context{
    width: 100%;
    height:100vh;
    background: #f0f2f5;
    display:flex;
    align-items: center;
    flex-direction: column;
}
.logo{
    width: 18%;
    height:12vh;
    margin-top: 6vh;
}
.container{
    width: 400px;
    height:400px;
    background:white;
    display: flex;
    align-items:center;
    flex-direction: column;
    border: 1px solid #00000034;
    border-radius:10px;
    padding-top:20px;
    -webkit-box-shadow: 0px 6px 15px -3px rgba(0,0,0,0.29);
    -moz-box-shadow: 0px 6px 15px -3px rgba(0,0,0,0.29);
    box-shadow: 0px 6px 15px -3px rgba(0,0,0,0.29);
}
span{
    margin:10px;
}
.form{
    width: 90%;
    gap: 10px;
    margin-top:10px;
}
.formgroup{
    margin-bottom: 10px
}
input{
    width: 100%;
    padding:15px;
    border: 1px solid #00000034;
    border-radius:5px;
}
.form > Button{
    width: 100%;
    padding:13px;
    border-radius: 5px;
    outline: none;
    border:transparent;
    background: #1877f2;
    color: white;
}
a{
    padding:10px;
    text-decoration: none;
    font-size: 15px;
    color: #1877f2;
}

.footer{
    height:22vh;
    width: 100%;
    background: cyan;
}

legend{
    text-align: center;
    background:red;
    font-size:medium;
}

legend span{
    width: 20px;
    background: black;
}
/* .create-account{
    border-color:rgba(0, 0, 0, 0.9);
    border-left:1px;
    border-right:0;
    border-bottom:0;
    box-sizing:border-box;
    width:90%;
}
legend{
    display:block;
    margin: 0 auto;
    color:rgba(82,82,82,0.9);
} */